<div class="report_sections">
  <% @report.sections.each do |section| %>
    <%= link_to "#{section.name}", section_path(section) %>
  <% end %>
</div>
<div class="additional_info">
  <%= link_to "Additional Documents", report_additional_documents_path(@report) %>
  <%= link_to "Interview Questions", report_interview_questions_path(@report) %>
  <%= link_to "Interviews", report_interviews_path(@report) %>
</div>
